#Ignore virtual environments
.venv
venv/
.idea/misc.xml
.idea/workspace.xml
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/

documents/
app.documents/
img**

#ignore compiled python files
**/__pycache__/
*.pyc